// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.property-box {
  border: 1px solid #ddd;
  padding: 0 1em 1.5em 1em;
  margin-bottom: 1em;
  border-radius: 3px;

}
